.tweet-box-container {
    padding: 2rem 3rem;
    background-color: #fff;
  }
  
  .tweet-box-container .tweet-fields:not(:first-of-type) {
    margin-top: 1rem;
  }
  
  .tweet-box-container .tweet-content {
    font-size: 1.1rem;
  }
  .tweet-box-container .tweet-content textarea {
    color: #333;
    /* font-weight: 500; */
    font-size: 1.25rem !important;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma,
      "Hiragino Sans GB", STHeiti;
  }
  .tweet-box-container .tweet-topics span {
    margin-right: 0.5rem;
  }
  
  .w3-ul.hi-list #new-tweet-list {
    order: -1;
    padding: 0px;
    background: transparent;
    margin-bottom: 0 !important;
  }
  #new-tweet-list ul {
    padding: 0;
    list-style: none;
    position: relative;
  }
  #new-tweet-list div > ul li {
    padding: 0 50px;
    margin-bottom: 16px;
  }
  #new-tweet-list .spinner{
    border: 3px dashed #fff;
  }
  #new-tweet-list .spinner::before{
    background: transparent;
  }
  .hi-tweet-content-wrap {
    background-color: transparent !important;
  }
  .tweet-box-container .tweet-fields.tweet-topics {
    margin-top: 0;
  }
  .tweet-topics > .tag{
    cursor: pointer;
  }
  .tweet-topics >.checked {
    color:#fff;
    background-color: #3a7afe;
  }

  @media (max-width: 600px) {
    .tweet-box-container {
      padding: 1rem;
    }
    #new-tweet-list div > ul li {
      padding: 0 16px;
    }
  }
  
  .bubbleList-enter-from {
    opacity: 0;
    transform: translateX(250px);
    background-color: yellow !important;
  }
  .bubbleList-enter-to {
    opacity: 1;    
    transform: translateX(0);
  
    background-color: #fec !important;
  }
  .bubbleList-enter-active {
    transition: all 1s ease;
  }
  
  .bubbleList-leave-from {
    opacity: 1;
    transform: translateX(0);
    background-color: #fec !important;
  }
  .bubbleList-leave-to {
    opacity: 0;    
    transform: translateX(-250px);
    background-color: #fff !important;
  }
  .bubbleList-leave-active {
    transition: all 1s ease;
    position: absolute; /** 删除bubble，旧的bullbe上移的关键点 */
  }
  
  /**新进的bubble，旧的bullbe下移 */
  .bubbleList-move {
    transition: all 0.3s ease;
  }
  
  .fade-enter-from {
    opacity: 0;
    transform: translateY(-500px);
  }
  .fade-enter-to {
    transform: translateY(0px);
    opacity: 1;
  }
  .fade-enter-active {
    transition: all 1s ease;
  }
  .fade-leave-from {
    opacity: 1;
  }
  .fade-leave-to {
    opacity: 0;
  }
  .fade-leave-active {
    transition: all 1s ease;
  }
  .d-back-to-top {
    right: 1rem;
    bottom: 1rem;
  }
  
  #navbar .w3-dropdown-hover.avatar-dropdown-hover >.w3-button{
        padding: 4px 16px 4px 8px;
  }
  .username{
    display: inline-block;
      width: 8px;
      opacity: 0;
  }
  .login-portrait{
    display: inline;
  }
      
  .portrait.login-portrait img {
    height:40px;
    width:40px;
  }
  .w3-ul>li.hi-post-type-bubble:not(.new-tweet-list),
  .w3-ul>li.hi-post-type-tweet:not(.new-tweet-list){
    display: none;
    z-index: -1;
  }
  .homepage-tweet-body .hi-modal {
    z-index:-1;
    display: none;
  }


  .vel-img-title {
    padding: 4px 8px;
    background: #2d2d2d;
    border-radius: 4px;
    color: #fff;
    bottom:55px;
  }
.vel-img[src$='.gif']{
    min-width: 33vw;
}
@media (max-width: 750px) {
    .vel-img[src$='.gif']{
        min-width: 66vw;
    }
}